@charset "utf-8";

h1 {
    color: #3f51b5;
    font-family: sans-serif;
    font-style: italic;
    font-size: xxx-large;
    font-weight: bold;
    text-align: center;
    text-decoration: overline underline;
}
.classstyle1 {
	font-size: large;
	color: red;
	border:solid;
}
#id1 {
	font-size: large;
	color: purple;
}
p {
    text-indent: 30px;
    font-family: sans-serif;
    font-weight: 200;
    font-size: larger;
    color: blue;
    display: block;
    margin: 80px;
    border: 20px;
    background-color: azure;
    padding: 10px;
}

p2 {
    font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
    text-decoration: line-through; 
    color: azure;
    font-size: small;
    display: block;
    margin: 60px;
    border: 20px;
    background-color: blue;
    padding: 40;
}

img {
	display: block;
	position: center;
	align-items: center;
	
}
